@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --yellow:#008073;
}
*{
font-family: 'Nunito',sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
outline:none;
border: none;
text-decoration:capitalize;
transition: all .2s linear;
}

*::selection{
    background: var(--yellow);
    color: #fff;
}
html{
    font-size:43%;
    overflow-x:hidden;
}
/* html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background: black;
}
html::-webkit-scrollbar-thumb{
    background:var(--yellow) ;
} */
body{
    background:#7faca2;
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding: 1rem;
}

header{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   height: 100%;
   width: 35rem;
   background: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
   text-align: center; 
}
header .user img{
    height: 22rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}

header .user .name{
    font-size: 3.5rem;
    color: black;
}
header .user .post{
    font-size: 20px;
    color: black;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #1de2d1;
    animation: typing 7s steps(15) infinite;
}
@keyframes typing{
    0%{
      width: 0ch;
    }
    50%{
      width: 20ch;
    }
    100%{
      width: 0ch;
    }
  }

header .navbar{
    width: 100%;
}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #008073;
    color: white;
    font-size: 2rem;
    border-radius: 3rem;
}
header .navbar ul li a i{
    padding: 0 1rem;
    font-size: 1.8rem;
}


header .navbar ul li a:hover{
    
    transform: translateX(8%);
}



#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

/* home page */

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}
.home h3{
    font-size: 3.5rem;
    color: white;
    margin-bottom: 15px;

}
.home h1{
    font-size: 5rem;
    color: white;
    margin-bottom: 15px;
    
}
.home h1 span{
    background: #008073;
    padding: 8px;
    border-radius: 3px;
}
.home p{
    font-size: 3rem;
    color: white;
    padding: 1rem 0;
    line-height: 35px;
    margin-bottom: 15px;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    color:#008073;
    font-size: 30px;
    margin: 0 10px;
    margin-top: 20px;
}

.btn{
    outline: none;
    padding: 2rem 3rem;
    background-color: transparent;
    cursor: pointer;
    margin-top: 1rem;
    margin: 0 10px;
    font-size: 2.3rem;
    border-radius: 1rem;
    display: flex;
    border: 2px solid white;
    transition: all 0.3s ease;
}
.btn i{
    padding: .5rem;
    font-size: 2rem;
    margin-left: 6px;
    color:#008073;
}
.btn:hover{
    background:#008073;
    border: 2px solid #008073;
}

/* about section */
.heading{
    background: white;
    padding: 20px;
    border-radius: 3px;
margin-bottom: 30px;

}
.heading h1{
    font-size: 30px;
    text-align: center;
    
}
.bio{
    margin-left:30px;
    margin-right: 80px;
}
.bio h2 {
    font-size: 24px;
    margin-bottom: 5px;
    color: white;

}

.bio h3 {
    font-size: 30px;
    margin-top: 10px;
    color: white;
    
}

.bio p {
    font-size: 20px;
    line-height: 2.5;
}

/* education  */

.education-item{
    margin-bottom: 6px;
    padding: 30px;
}
.education-item h2{
color: white;
font-size: 20px;
margin-bottom: 10px;
}

.education-item p{
    font-size: 20px;
    margin-bottom:10px;
    }
    


/* experience */

.ex {
    margin: 0 auto;
    padding: 20px;
}

.ex-item {
    margin-bottom: 20px;
    padding: 20px; /* Add padding to each project item */
     /* Background color for each item */
    border: 1px solid #ddd; /* Border for each item */
    border-radius: 5px; /* Rounded corners for each item */
    
}

.ex-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color:white;
}

.ex-item p {
    font-size: 16px;
    line-height: 1.5;
}

.ex-item ul {
    list-style: disc;
    margin-left: 20px;
}

.ex-item li {
    font-size: 16px;
    line-height: 1.5;
}




/* Project */



/* contact */

.contact {
    padding: 15px;
    font-size: 18px;
    color: black;
}

.contact-info p {
    margin-bottom: 10px;
    padding: 15px;
    font-size: 20px;
}

.contact-info p i {
    font-size: 40px;
    margin-right: 10px;
    color:#008073;
    padding: 15px;
}

.contact-info p a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 20px;
}

.contact-info p a:hover {
    color: white;
}










/* media query */
@media(max-width:1200px){
    html{
        font-size:33%;
    }
    .home{
        padding: 1rem 4rem;
    }
}
@media(max-width:991px){
    header{
        left:-120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left: 0%;
    }
    body{
        padding: 0;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}
@media(max-width:400px){
    header{
        width: 100vw;
    }
    .home h1 span{
        font-size: 4rem;
    }

    .bio{
        margin-left:10px;
        margin-right: 10px;
    }
.bio p{
    line-height: 2;
}

.contact-info p i{
    font-size: 25px;
}
.contact-info p{
   margin-left: 0;
}

}


